.create-note-container {
  color: var(--color);
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 5px;
}

.create-note-container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 79%;
  background: var(--background-color);
  box-shadow:
    inset 7px 7px 13px color-mix(in srgb, var(--background-color) 89%, #000000),
    inset -7px -7px 13px color-mix(in srgb, var(--background-color) 97.5%, #fff);
  border-radius: 13px;
}

.create-note-container-bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 21%;
  background: var(--background-color);
  box-shadow:
    inset 7px 7px 13px color-mix(in srgb, var(--background-color) 89%, #000000),
    inset -7px -7px 13px color-mix(in srgb, var(--background-color) 97.5%, #fff);
}

.create-note-container-internal {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 79%;
  height: 100%;
  background-color: var(--background-color);
  box-shadow:
    inset 7px 7px 13px color-mix(in srgb, var(--background-color) 89%, #000000),
    inset -7px -7px 13px color-mix(in srgb, var(--background-color) 97.5%, #fff);
  border-radius: 13px;
}

.create-note-container-detail {
  width: 21%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 13px;
  background: var(--background-color);
  box-shadow:
    inset 7px 7px 13px color-mix(in srgb, var(--background-color) 89%, #000000),
    inset -7px -7px 13px color-mix(in srgb, var(--background-color) 97.5%, #fff);
}

.bottom-body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  width: 100%;
  height: 90%;
  box-shadow:
    inset 7px 7px 13px color-mix(in srgb, var(--background-color) 89%, #000000),
    inset -7px -7px 13px color-mix(in srgb, var(--background-color) 97.5%, #fff);
}

.detail-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 89%;
  margin: .625rem 0;
  position: relative;
  height: 2.9rem;

}

.detail-input input {
  width: 89%;
  padding: 0.7rem 1.3rem;
  outline: none;
  border: .07rem solid var(--color);
  background-color: transparent;
  border-radius: 8px;
  color: var(--color);
  font-size: 1rem;

}

.detail-input input::placeholder {
  opacity: 0.5;
  color: var(--profile-color);
}

.detail-input label {
  background-color: transparent;
  font-size: 0.89rem;
  position: absolute;
  left: 0;
  padding: 0.8rem;
  margin-left: 0.5rem;
  pointer-events: none;
  transition: transform 0.3s ease;
  opacity: 0.5;
  color: var(--color);
}

.detail-input :is(input:focus, input:valid) ~ label {
  transform: translateY(-1.4rem) scale(0.9);
  margin: 0rem;
  margin-left: 1.3rem;
  padding: 0.18rem;
  opacity: 1;
  color: var(--color);
  background-color: var(--background-color);
}

.calendar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 89%;
}

.calendar .calendar-input {
  width: 13px;
  height: 13px;
  border-radius: 5px;
  border: 2px solid var(--color);
  outline: none;
  cursor: pointer;
  transition: all 0.34s;
}

.calendar-input:hover {
  transform: scale(1.034);
  background-color: var(--color);
  opacity: 0.5;
}

.file-upload-container {
  position: absolute;
  top: 10px;
  left: 10px;
}

.file-upload-button {
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
}

.file-list-horizontal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-left: 50px;
}

.create-note-container-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23%;
  height: 100%;
  flex-direction: column;
}

.create-note-container-submit button {
  border: none;
  outline: none;
  width: 66%;
  height: 21%;
  background-color: var(--color);
  color: var(--background-color);
  margin: 5px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
}

.create-note-submit-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21%;
  height: 100%;
}

.create-note-submit-buttons button {
  padding: 5px 8px;
  width: 89px;
  color: var(--color);
  background-color: transparent;
  border: none;
  box-shadow:
    3px 3px 5px color-mix(in srgb, var(--background-color) 89%, #000000),
    -3px -3px 5px color-mix(in srgb, var(--background-color) 97.5%, #fff),
    inset 1px 1px 3px color-mix(in srgb, var(--background-color) 97.5%, #fff),
    inset -1px -1px 3px color-mix(in srgb, var(--background-color) 89%, #000000);
  cursor: pointer;
}
