.menu {
  position: absolute;
  bottom: -2.125rem;
  left: -2.125rem;
  max-width: 12.5rem;
  max-height: 12.5rem;
  min-width: 12.5rem;
  min-height: 12.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.54s;
}

.menu li {
  left: 0;
  opacity: 0;
  width: 2.125rem;
  height: 2.125rem;
  background: var(--menu-item-background);
  border-radius: 50%;
  position: absolute;
  list-style: none;
  transform-origin: 6.25rem;
  transition: 0.34s;
  transition-delay: calc(0.1s * var(--i));
  transform: rotate(0deg) translateX(6.25rem);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 100;
}

.menu.active li {
  transform: rotate(calc(120deg / 4 * var(--i) + 60deg));
  opacity: 1;
}

.menu li div {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transform: rotate(calc(120deg / -4 * var(--i) - 60deg));
}

.menu li div * {
  fill: var(--background-color);
  transition: all 0.34s;
}

.menu li div:hover * {
  transform: scale(1.034);
}

.toggle {
  position: absolute;
  width: 3.4375rem;
  height: 3.4375rem;
  background: var(--menu-toggle-background);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.55s;
  z-index: 1000;
  cursor: pointer;
}

.menu.active .toggle {
  transform: rotate(315deg);
  opacity: 1;
}

.menu.hold .toggle {
  opacity: 0.3;
}

.menu.hold .toggle:hover {
  opacity: 0.7;
}

.menu.inactive .toggle {
  opacity: 0.3;
}

.menu.hide {
  opacity: 0;
  transform: translateX(-2.125rem) translateY(2.125rem);
}
