.todo-pomodoro-container {
  --primary-color: color-mix(
    in srgb,
    var(--color) 80%,
    var(--background-color) 20%
  );
  --success-color: color-mix(in srgb, green 70%, var(--color) 30%);
  --danger-color: color-mix(in srgb, red 70%, var(--color) 30%);
  --warning-color: color-mix(in srgb, orange 70%, var(--color) 30%);

  display: flex;
  width: 100vw;
  height: 100vh;

  background-color: var(--background-color);
  color: var(--color);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  border-radius: 13px;
  overflow: hidden;
}
