.language-tabs {
  display: flex;
  position: relative;
  background-color: var(--profile-color);
  padding: 4% 2.3%;
  border-radius: 13px;
}

.language-container {
  width: 89%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.language-tabs .lang-label * {
  position: relative;
  color: var(--profile-background-color);
  font-weight: bold;
  font-size: 1.21rem;
  margin: 0 0.5rem;
}
.language-tabs * {
  z-index: 2;
}

.language-container input[type="radio"] {
  display: none;
}

.language-tab {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.31rem;
  width: 2.12rem;
  font-size: 1rem;
  color: var(--profile-background-color);
  opacity: 0.7;
  font-weight: bold;
  border-radius: 13px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.language-container input[type="radio"]:checked + label {
  opacity: 1;
}

.language-container input[id="radio-1"]:checked ~ .glider {
  transform: translateX(105%);
}

.language-container input[id="radio-2"]:checked ~ .glider {
  transform: translateX(205%);
}

.language-container input[id="radio-3"]:checked ~ .glider {
  transform: translateX(305%);
}

.language-container input[id="radio-4"]:checked ~ .glider {
  transform: translateX(405%);
}
.language-container input[id="radio-5"]:checked ~ .glider {
  transform: translateX(505%);
}
.language-container input[id="radio-6"]:checked ~ .glider {
  transform: translateX(605%);
}
.glider {
  position: absolute;
  display: flex;
  height: 1.31rem;
  width: 2.12rem;
  background-color: var(--profile-background-color);
  opacity: 0.34;
  z-index: 1;
  border-radius: 13px;
  transition: 0.25s ease-out;
}
