@font-face {
  font-family: 'NovaMono';
  src: url('./assets/fonts/NovaMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Patrick Hand */
@font-face {
  font-family: 'PatrickHand';
  src: url('./assets/fonts/PatrickHand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Pixelify Sans (Variable weight) */
@font-face {
  font-family: 'PixelifySans';
  src: url('./assets/fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* Syne Mono */
@font-face {
  font-family: 'SyneMono';
  src: url('./assets/fonts/SyneMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Tangerine Regular */
@font-face {
  font-family: 'Tangerine';
  src: url('./assets/fonts/Tangerine-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Tangerine Bold */
@font-face {
  font-family: 'Tangerine';
  src: url('./assets/fonts/Tangerine-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
    --font-nova: 'NovaMono', monospace;
  --font-patrick: 'PatrickHand', cursive;
  --font-pixelify: 'PixelifySans', sans-serif;
  --font-syne: 'SyneMono', monospace;
  --font-tangerine: 'Tangerine', cursive;
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  --font-family: var(--font-patrick);
  font-size: clamp(0.4rem, 1.2vw + 1vh, 2rem);
  line-height: 24px;
  font-weight: 400;

  color: #e9e9e9;
  background-color: rgb(34, 34, 34, 0);
  --background-color: #222;
  --current-font: #e9e9e9;
  --current-back: #222;
  --menu-item-background: #e9e9e9;
  --menu-toggle-background: rgb(199, 199, 233);
  --profile-color: #e9e9e9;
  --profile-background-color: #222;
  --width: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: var(--font-family);
}

body,
html,
#root {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: var(--background-color);
}

/* background: linear-gradient(135deg, #1c1c1c, #2e2e2e); */
.null-div {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: var(--background-color);
}

.menu-blur {
  animation: menu-blur-ani 0.34s forwards;
}

@keyframes menu-blur-ani {
  100% {
    opacity: 0.3;
    filter: blur(5px);
  }
}
